{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Created</th>
            <th>Updated</th>
            <th>User</th>
            <th>Categories</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for post in listPosts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.updated %}{{ post.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.user %}{{ post.user.username }}{% endif %}</td>
                <td>{% if not post.category.empty %}
                        {% for item in post.category %}
                            {{ item.name }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <ul>
                            <li>
                                <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                            </li>
                        </ul>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if app.user %}
            <li>
                <a href="{{ path('post_new') }}">Create a new post</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
